body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eee;
}

h1,
h2,
p {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-weight: 300;
  margin: 0;
}

p{
  margin-top: 0;
}


canvas {
  width: 75vw;
}
